.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 0;
  padding: 1rem 0;

  border-bottom: 2px solid #8a2b06;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;

  color: #363636;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 10rem;
}

.price {
  font-weight: bold;
  color: #8a2b06;
}

.amount {
  padding: 0.25rem 0.75rem;

  font-weight: bold;
  color: #363636;

  border: 1px solid #cccccc;
  border-radius: 6px;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  width: 3rem;
  margin-left: 1rem;
  margin: 0.25rem;

  font: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #8a2b06;

  background-color: transparent;
  border: 1px solid #8a2b06;
  border-radius: 6px;

  cursor: pointer;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #8a2b06;
  color: #ffffff;
}
